<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styledisco.css">
  <title>Cadastrar Disco</title>
</head>
<body>
  <header>
    <h1>Cadastrar Disco</h1>
    <nav>
      <a href="/">Página Inicial</a>
      <a href="/disco">Lista de Discos</a> 
    </nav>
  </header>

  <section>
    <form action="/disco" method="POST" enctype="multipart/form-data">
      <label for="titulo">Título do Disco:</label>
      <input type="text" id="titulo" name="titulo" required><br>
    
      <label for="ano_lancamento">Ano de Lançamento:</label>
      <input type="number" id="ano_lancamento" name="ano_lancamento" required><br>
    
      <label for="genero_id">Gênero:</label>
      <select name="genero_id" id="genero_id" required>
        <% generos.forEach(genero => { %>
          <option value="<%= genero.id %>"><%= genero.nome %></option>
        <% }) %>
      </select><br>
    
      <label for="capa">Capa do Disco:</label>
      <input type="file" id="capa" name="capa"><br>
    
      <button type="submit">Cadastrar Disco</button>
    </form>
  </section>
</body>
</html>
